{% extends "base.html" %}

{% block announce %}
    <b>Site is undergoing migration.</b>
    Old URL:
    {% if page and page.meta and page.meta.original_url %}
        <a href="{{ page.meta.original_url }}"  target="_blank" rel="nofollow noopener">{{ page.meta.original_url }}</a>
    {% else %}
        <a href="https://exposnitc.github.io" target="_blank" target="_blank" rel="nofollow noopener">https://exposnitc.github.io"</a>
    {% endif %}
{% endblock %}

{% block content %} 
    <!-- Edit button -->
    {% if page.edit_url %}
    <a
        href="{{ page.edit_url }}"
        title="{{ lang.t('edit.link.title') }}"
        class="md-content__button md-icon"
    >
        {% include ".icons/material/pencil.svg" %}
    </a>
    {% endif %}

    <!--
    Hack: check whether the content contains a h1 headline. If it
    doesn't, the page title (or respectively site name) is used
    as the main headline.
    -->
    {% if page and page.meta and page.meta.title %}
        <h1>{{ page.meta.title }}</h1>
    {% elif not "\x3ch1" in page.content %}
    <h1>{{ page.title | d(config.site_name, true)}}</h1>
    {% endif %}

    <!-- Markdown content -->
    {{ page.content }}

    <!-- Last update of source file -->
    {% if page and page.meta %}
    {% if page.meta.git_revision_date_localized or
            page.meta.revision_date
    %}
        {% include "partials/source-file.html" %}
    {% endif %}
    {% endif %}
{% endblock %}