.stage-link {
    font-size: 1.3em;
    line-height: 1.3;
    display: block;
    width: 100%;
    padding: .25em 0;
    margin: 0 0 .25em;
    border-bottom: 2px solid rgb(175, 175, 175);
    color: var(--md-code-fg-color) !important;
}
.stage-link:last-child {
    border-bottom: 0;
}
